

<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
        rel="stylesheet">

    <style>
        /* Add custom CSS styles here */
        body {
            font-family: 'Lato', sans-serif;
            background-color: #f5f5f5;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .post-title {
            font-size: 24px;
            font-weight: 700;
        }

        .img-post-shots {
            max-width: 100%;
            height: auto;
        }

        .comments-section {
            background-color: #f9f9f9;
            padding: 15px;
            margin-top: 20px;
            border: 1px solid #eee;
            border-radius: 5px;
        }

        .comment {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }

        /* Add more custom styles as needed */
    </style>
</head>

<body>
    <div class="container">
        <div class="left-ads-display col-lg-8">
            <div class="row sub-para-w3layouts mt-5">
                <h3 class="post-title">{{post.title}}</h3>
                <p>
                    <img src="{% static 'images/team.jpg' %}" class="img-post-shots">
                </p>
            </div>
            <hr>
            <div class="comments-section">
                <h3 class="post-title"><span class="sub-tittle editContent">{{ post.review_set.count }}</span>Оставить
                    отзыв</h3>
                <form action="{% url 'add_review' post.id %}" method="post" class="mt-4" id="formReview"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="parent" id="contactparent" value="">

                    <div class="form-group editContent">
                        <label for="contactcomment" class="editContent">Ваш комментарий*</label>
                        {{form.text}}
                    </div>
                    <div class="form-group editContent">
                        <label for="contactphoto" class="editContent">Фото (optional)</label>
                        {{ form.photo }}
                    </div>
                    <div class="d-sm-flex">
                        <div class="col-sm-6 form-group p-0 editContent">
                            <label for="contactusername" class="editContent">Имя *</label>
                            {{form.name}}
                        </div>
                        <div class="col-sm-6 form-group ml-sm-3 editContent">
                            <label for="contactemail" class="editContent">Email *</label>
                            {{form.email}}
                        </div>
                    </div>
                    {{form.captcha}}
                    <button type="submit" class="mt-3 btn btn-success btn-block py-3">Отправить</button>
                </form>
            </div>
            <div class="comments-section">
                {% for review in post.get_review %}
                <div class="comment">
                    <div class="commenter-info">
                        <img src="{% static 'images/commentroditel.png' %}" class="mr-3 img-fluid"
                            style="width:50px; height:50px; border-radius:50%;" alt="image">
                        <h5 class="post-title">{{ review.name }}</h5>
                    </div>
                    <div class="media-body mt-4">
                        <p>{{ review.text }}</p>
                        {% if review.photo %}
                        <img src="{{ review.photo.url }}" style="width:50px; height:50px; " class="img-fluid"
                            alt="comment-photo">
                        {% endif %}
                        {% for rew in review.review_set.all %}
                        <div class="media mt-5 comment">
                            <div class="commenter-info">
                                <img src="{% static 'images/commentroditel.png' %}" class="mr-3 img-fluid"
                                    style="width:50px; height:50px; border-radius:50%;" alt="image">
                                <h5 class="post-title">{{ rew.name }}</h5>
                            </div>
                            <div class="media-body">
                                <p>{{ rew.text }}</p>
                                {% if rew.photo %}
                                <img src="{{ rew.photo.url }}" style="width:50px; height:50px;" class="img-fluid"
                                    alt="comment-photo">
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <style>
                .comment {
                    display: flex;
                    margin-bottom: 20px;
                }
            
                .commenter-info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-right: 10px;
                }
            
                .commenter-info img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            
                .commenter-info h5 {
                    font-size: 16px;
                    margin: 0;
                }
            
                .media-body p {
                    font-size: 14px;
                }
            
                .commenter-info img, .media-body img {
                    max-width: 50px;
                    max-height: 50px;
                    /* border-radius: 50%; */
                }
            </style>
            
            
            <!-- <div class="comments-section">
                {% for review in post.get_review %}
                <div class="comment">
                    <img src="{% static 'images/commentroditel.png' %}" class="mr-3 img-fluid"
                        style="width:50px; height:50px; border-radius:50%;" alt="image">
                    <div class="media-body mt-4">
                        <h5 class="post-title">{{ review.name }}</h5>
                        <p>{{ review.text }}</p>
                        <a href="#formReview" onclick="addReview('{{review.name}}', '{{review.id}}')">Ответить</a>
                        {% if review.photo %}
                        <img src="{{ review.photo.url }}" style="width:50px; height:50px; border-radius:50%;" class="img-fluid"
                            alt="comment-photo">
                        {% endif %}
                        {% for rew in review.review_set.all %}
                        <div class="media mt-5 comment">
                            <a class="pr-3" href="#">
                                {% if rew.photo %}
                                <img src="{{ rew.photo.url }}" style="width:50px; height:50px;" class="img-fluid"
                                    alt="comment-photo">
                                {% else %}
                                <img src="{% static 'images/team.jpg' %}" style="width:50px; height:50px; border-radius:50%;" class="img-fluid"
                                    alt="image">
                                {% endif %}
                            </a>
                            <div class="media-body">
                                <h5 class="post-title">{{rew.name}}</h5>
                                <p>{{rew.text}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div> -->
            
            <!-- <div class="comments-section">
                {% for review in post.get_review %}
                <div class="comment">
                    <img src="{% static 'images/commentroditel.png' %}" class="mr-3 img-fluid"
                        style="width:50px; height:50px; border-radius:50%;" alt="image">
                    <div class="media-body mt-4">
                        <h5 class="post-title">{{ review.name }}</h5>
                        <p>{{ review.text }}</p>
                        <a href="#formReview" onclick="addReview('{{review.name}}', '{{review.id}}')">Ответить</a>
                        {% for rew in review.review_set.all %}
                        <div class="media mt-5 comment">
                            <a class="pr-3" href="#">
                                <img src="{% static 'images/team.jpg' %}" style="width:50px; height:50px; border-radius:50%;"
                                    class="img-fluid " alt="image">
                            </a>
                            <div class="media-body">
                                <h5 class="post-title">{{rew.name}}</h5>
                                <p>{{rew.text}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div> -->
        </div>
    </div>
</body>

</html>



<!-- <!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="left-ads-display col-lg-8">
            <div class="row sub-para-w3layouts mt-5">
                <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                    {{post.title}}</h3>
                <p>
                    <img src="{% static 'images/team.jpg' %}" class="img-post-shots">
                </p>
            </div>
            <hr>
            <div class="row">
                <div class="single-form-left">
                    <div class="contact-single">
                        <h3 class="editContent" style="outline: none; cursor: inherit;">
                            <span class="sub-tittle editContent">
                                {{ post.review_set.count }}
                            </span>Оставить отзыв
                        </h3>
                        <form action="{% url 'add_review' post.id %}" method="post" class="mt-4" id="formReview">
                            {% csrf_token %}
                            <input type="hidden" name="parent" id="contactparent" value="">

                            <div class="form-group editContent">
                                <label for="contactcomment" class="editContent">
                                    Ваш комментарий*</label>
                                {{form.text}}
                            </div>
                            <div class="d-sm-flex">
                                <div class="col-sm-6 form-group p-0 editContent">
                                    <label for="contactusername" class="editContent">
                                        Имя
                                        *</label>
                                    {{form.name}}
                                </div>
                                <div class="col-sm-6 form-group ml-sm-3 editContent">

                                    <label for="contactemail" class="editContent">
                                        Email
                                        *</label>
                                    {{form.email}}
                                </div>
                            </div>
                            {{form.captcha}}
                            <button type="submit" class="mt-3 btn btn-success btn-block py-3">
                                Отправить
                            </button>
                        </form>
                    </div>
                </div>
                <div class="grid_for_comment">
                    {% for review in post.get_review %}
                    <div class="media py-5">
                        <img src="{% static 'images/commentroditel.png' %}" class="mr-3 img-fluid" style="width:50px; height:50px; border-radius:50%;" alt="image">
                        <div class="media-body mt-4">
                            <h5 class="mt-0 editContent">
                                {{ review.name }}
                            </h5>
                            <p class="mt-2 editContent">
                                {{ review.text }}
                            </p>
                            <a href="#formReview" onclick="addReview('{{review.name}}', '{{review.id}}')">Ответить</a>
                            {% for rew in review.review_set.all %}
                            <div class="media mt-5 editContent">
                                <a class="pr-3" href="#">
                                    <img src="{% static 'images/team.jpg' %}" style="width:50px; height:50px; border-radius:50%;" class="img-fluid " alt="image"
                                        style="outline: none; cursor: inherit;">
                                </a>
                                <div class="media-body">
                                    <h5 class="mt-0 editContent" style="outline: none; cursor: inherit;">{{rew.name}}
                                    </h5>
                                    <p class="mt-2 editContent" style="outline: none; cursor: inherit;">{{rew.text}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script>
            function addReview(name, id) {
                document.getElementById("contactparent").value = id
                document.getElementById("contactcomment").innerText = `${name}, `
            }
        </script>
    </div>
</body>

</html> -->